/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 19, 2015, 8:17:40 PM
    Author     : Nisha
*/

/* start of what was added to style the nav bar
   if it breaks the app, please remove */
.nav {
	position:relative;
	font-size:14px;
	font-weight:900;
}
.nav-list {
	
}
.nav-link {
	float:left;
	*display:inline;
	zoom:1;
}
.nav-link a {
	display:block;
	padding:15px 20px;
	color:#FFF;
	background:pink;
}
.nav-link:first-child a {
	border-radius:5px 0 0 5px;
}
.nav-link:last-child a {
	border-radius:0 5px 5px 0;
}
.nav-link a:hover {
	background:#db1422;
}
/* Mobile Navigation */
.nav-mobile {
	display:none; /* Hide from browsers that don't support media queries */
	cursor:pointer;
	position:absolute;
	top:0;
	right:0;
	background:pink url(../img/nav.svg) no-repeat center center;
	height:40px;
	width:40px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}

/*------------------------------------*\
    Media Queries
\*------------------------------------*/

@media only screen and (min-width: 320px) and (max-width: 768px) {
	.nav-mobile {
		display:block;
	}
	.nav {
		width:100%;
		padding:40px 0 0;
	}
	.nav-list {
		display:none;
	}
	.nav-link {
		width:100%;
		float:none;
	}
	.nav-link a {
		background:pink;
		padding:10px;
	}
	.nav-link:first-child a {
		border-radius:5px 0 0;
	}
	.nav-link:last-child a {
		border-radius:0 0 5px 5px;
	}
	.nav-active {
		display:block;
	}
	.nav-mobile-open {
		border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
	}
}

// end of what was added to style nav bar

*{
    margin: 0;
    padding: 0;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1em;
    background: #6d6e70;


}
h2, h3, h4, h5, h6 {
    margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
    padding:0px;
}

h1 {
    font-size: 1.5em;
    color:#000;
    text-align: center;
}
h2 {
    font-size: 1.3em;
    color:#fff;
}
h3 {
    font-size: 1.125em;
    font-weight: bold;
    color:#fff;
}
h4 {
    font-size: 1em;
    font-weight: bold;
}
h5 {
    font-size: .75em;
    color:#fff;
    font-weight: bold;
}
nav ul{
    margin:0px;
    padding: 0px;
    background-color: darkgray;
}
nav a {
    display:block;
    border-bottom: 1px  solid #fff;
    margin:0;
    padding:3px;
}
nav a:hover {
    height:100%;
}
header {
    background-color: #5bb3cb;
}
footer {
    background-color:darkgray;
    height:40px;
    bottom:0;
    width: 360px;
}
main {
    padding-bottom: 40px;
    padding-top: 10px;
}
li{
    list-style: none;
}
.logo {
    position:relative;
    float: left;
    margin: auto;
}
.tagline {
    font-size: 1.5em;
    font-family: Helvetica;
    color:#FFF;
    font-weight: bold;
    float: right;
    position: relative;
    margin:24px;
}
.caption {
    font-size: 1em;
    font-family: Helvetica;
    color:#FFF;
    font-weight: bold;
    float: right;
    position: relative;
    margin:24px;
}
.container {
    background-color: #ffffff;
    width: 360px;
    height: 100%;
    margin: 0 auto;
}
.lngcontainer {
    background-color: #5bb3cb;
    width: 360px;
    height: 640px;
    margin: 0 auto;
    text-align: center;
    
}
.logobtn {
    margin: 0 auto;
    padding-top: 20px;
    width: 250px;
    height: 250px;  
    -webkit-transition: width 1s, height 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s, height 1s;
}

.logobtn:hover {
    width: 300px;
    height: 300px;
}

.lngh1 {
    font-size: 1.5em;
    color:#fff;
    text-align: center;
    font-weight: bold;
}
.cntpd {
    padding:100px 0;
}
.button {
    width:140px;
    height: 50px;
    background-color: #5bb3cb;
    border-radius: 4px;
    margin: 10px;
    padding: 5px;
    float: left;
}
.button1 {
    width:140px;
    height: 50px;
    background-color: pink;
    border-radius: 4px;
    margin: 10px;
    padding: 5px;
    float: left;
}
.button2 {
    width:140px;
    height: 50px;
    background-color: #ff0000;
    border-radius: 4px;
    margin: 10px;
    padding: 5px;
    float: left;
}
.button3 {
    width:140px;
    height: 50px;
    background-color: #ffff97;
    border-radius: 4px;
    margin: 10px;
    padding: 5px;
    float: left;
}
.button4 {
    width:140px;
    height: 50px;
    background-color: #00ff00;
    border-radius: 4px;
    margin: 10px;
    padding: 5px;
    float: left;
}
.btn_container{
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.babyName {
    float:left;
}
.favorites {
    right:18px;
    top:0;
    background-image: url("/images/heart.png");
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    position:absolute;
}
.txt {
    color: white;
    font-weight: bold;
    margin-top: 10px;

}
#search {
    text-align: center;
    height: 50px;
    background-color: greenyellow;
    border-radius: 4px;
    margin: 10px;
    padding-top: 15px;
}
/*Alignment floats*/
.aligncenter {
    display:block;
    text-align: center;
    padding:10px;

}
.alignleft {
    float:left;
    padding:0px 10px 0px 15px;
}
.alignright {
    float:right;
    padding:0px 15px 0px 10px;
}
.clearfloat { 
    clear:both;
}

/*Pulse Animation for the Click Me*/
.pulseMain {
  //padding: 20px 40px;
  color: #fff;
  background-color: #5bb3cb;
  position: absolute;
  right: 48%;
  -webkit-animation: pulse 2s ease infinite;
  -moz-animation: pulse 2s ease infinite;
  -ms-animation: pulse 2s ease infinite;
  -o-animation: pulse 2s ease infinite;
  animation: pulse 2s ease infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
  }

  25% {
    -moz-transform: scale(1.1);
  }

  50% {
    -moz-transform: scale(1);
  }

  100% {
    -moz-transform: scale(1);
  }
}

@-ms-keyframes pulse {
  0% {
    -ms-transform: scale(1);
  }

  25% {
    -ms-transform: scale(1.1);
  }

  50% {
    -ms-transform: scale(1);
  }

  100% {
    -ms-transform: scale(1);
  }
}

@-o-keyframes pulse {
  0% {
    -o-transform: scale(1);
  }

  25% {
    -o-transform: scale(1.1);
  }

  50% {
    -o-transform: scale(1);
  }

  100% {
    -o-transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
